<!-- app/views/discount_campaigns/show.html.erb -->
<div class="container">
  <h1 class="mt-5">Discount Campaign</h1>

  <p><strong>Product:</strong> <%= @discount_campaign.product.name %></p>
  <p><strong>Original Price:</strong> <%= @discount_campaign.original_price %></p>
  <p><strong>Discounted Price:</strong> <%= @discount_campaign.discounted_price %></p>
  <p><strong>Status:</strong> <%= @discount_campaign.status %></p>
</div>
